:root {
  --bg-color: #FBE968;
}

#lift-off-logo {
  position: absolute;
  z-index: -99;
  width: 105vw;
  left: 0;
}

#pnca-logo {
  width: 200px;
}

body {
  max-width: 1200px;
  margin: 15px auto;
  background: var(--bg-color);
}
