:root {
  --color-bg:     #FBE968;
  --color-main:   #FF3D20;
  --color-text:   #222;
  --color-acc:    #F15A31; /* accent */
  --color-acc2:   #92A8E4;

  --font-sans:    "LiteralGrotesk", Helvetica, sans-serif;
  --font-mono:    "AgipoMono", Courier, monospace;
  --font-display: "BLArctic",  "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
