:root {
  --yellow:       #FBE968;
  --red:          #FD3D20;
  --grey:         #222;
  --off-white:    #FCF7D2;
  --color-acc:    #F15A31; /* accent */
  --color-acc2:   #92A8E4;

  --font-sans:    "LiteralGrotesk", Helvetica, sans-serif;
  --font-mono:    "AgipoMono", Courier, monospace;
  --font-display: "BLArctic",  "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
