#lift-off-logo {
  position: absolute;
  z-index: -99;
  width: 105vw;
  left: 0;
}

body {
  max-width: 1200px;
  margin: 15px auto;
  background: var(--bg-color);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-column-gap: 1.5em; */
}

@media (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

main a {
  padding-bottom: 3em;
  text-align: center;
}
