footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  font-family: var(--font-mono);
  margin-top: 3em;
}

@media (min-width: 800px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }
}

footer p a {
  color: var(--color-text);
  text-decoration: none;
  background-image: linear-gradient(var(--color-main), var(--color-main)),
    linear-gradient(var(--color-acc2), var(--color-acc2));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s linear;
}

footer p a:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}
