nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

#pnca-logo {
  width: 100px;
}

#about {
  background: #7FFAC4;
}

#about:hover, #talent:hover {
  color: var(--color-bg);
}

#about, #sign-up {
  margin-bottom: 15px;
}

#sign-up {
  width: 64px;
}

#talent {
  background: #6956FF;
}

#buttons {
  width: 128px;
}

#buttons a {
  float: right;
  text-align: center;
  width: 100%
}

@media (min-width: 800px) {
  #buttons {
    width: auto;
  }

  #sign-up {
    width: auto;
  }

  #buttons a {
    float: none;
    width: auto;
  }

  #about, #sign-up {
    margin: 0 15px 0 0;
  }
}

#drop-down {
  display: none;
  max-height: calc(100vh - 195px);
  max-height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
  background: #6956FF;
  position: absolute;
  top: 180px;
  right: 0;
  z-index: 999;
}

#caret {
  display: inline-block;
  transition: transform .5s linear;
}

.rotated {
  transform: rotate(90deg);
}

@media (min-width: 800px) {
  #drop-down {
    top: 50px;
  }
}

#drop-down a {
  padding: 15px;
  font-weight: 500;
  color: var(--color-text);
  display: block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

#drop-down a:not(:last-child) {
  border-bottom: 1px solid var(--color-bg);
}

#drop-down a:hover {
  color: var(--color-bg);
}

#drop-down a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--color-text);
  height: 3.5px;
  transition: right 0.5s ease-out;
}

#drop-down a:hover:before, #drop-down a:active:before {
  right: 0;
}

#data {
  font-family: var(--font-mono);
  display: grid;
  grid-gap: 1em;
	grid-template-columns: 1fr;
  margin: 2em 0;
}

#data a span {
  color: var(--color-text);
  text-decoration: none;
  background-image: linear-gradient(var(--color-main), var(--color-main)),
    linear-gradient(var(--color-acc2), var(--color-acc2));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s linear;
}

#data a span:hover {
  color: var(--color-main);
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

@media (min-width: 800px) {
  #data {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
  }
}
