nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#pnca-logo {
  width: 100px;
}

#about {
  background: #7FFAC4;
  /* background: #E5EAF3; */
  align-self: center;
  margin: 0 15px 0 0;
}

#about:hover {
  color: var(--color-bg);
}

#sign-up {
  align-self: center;
  width: 64px;
}

@media (max-width: 350px) {
  #buttons {
    width: 100px;
  }
  #about, #sign-up {
    float: right;
  }

  #about {
    margin: 0 0 15px;
  }
}

@media (min-width: 800px) {
  #sign-up {
    width: auto;
  }
}

#data {
  font-family: var(--font-mono);
  display: grid;
  grid-gap: 1em;
	grid-template-columns: 1fr;
  margin: 2em 0;
}

#data a span {
  color: var(--color-text);
  text-decoration: none;
  background-image: linear-gradient(var(--color-main), var(--color-main)),
    linear-gradient(var(--color-acc2), var(--color-acc2));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s linear;
}

#data a span:hover {
  color: var(--color-main);
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

@media (min-width: 800px) {
  #data {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
  }
}
