nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#pnca-logo {
  width: 100px;
  fill: var(--color-text);
}

header #sign-up {
  background: var(--color-main);
  padding: 15px;
  text-transform: uppercase;
  align-self: center;
  font-weight: 600;
}

header #sign-up:hover, header #sign-up:active {
  color: var(--color-bg);
  cursor: pointer;
}

header #data {
  font-family: var(--font-mono);
  display: grid;
  grid-gap: 1em;
	grid-template-columns: 1fr;
  margin: 2em 0;
}

header #data a {
  color: var(--color-text);
}

header #data a:hover {
  color: var(--color-main);
}

@media (min-width: 800px) {
  header #data {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
  }
}
