@import 'global/vars.css';
@import 'global/typography.css';

@import 'theme/header.css';
@import 'theme/footer.css';

a:visited {
  color: var(--grey);
}

a:hover {
  color: var(--red);
}

a {
  text-decoration: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  color: var(--grey);
  font-family: var(--font-sans);
  background: var(--yellow);
  min-height: -webkit-fill-available;
}

.button {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--grey);
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: var(--off-white);
  font-size: 13px;
}

@media (min-width: 800px) {
  .button {
    background: none;
    font-size: 1em;
  }

  .button:hover, .button:active {
    background: var(--off-white);
    color: var(--red);
    cursor: pointer;
  }

  .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--grey);
    height: 3px;
    transition: right 0.5s ease-out;
  }

  .button:hover:before, .button:active:before {
    right: 0;
  }
}

.portraits figure {
  margin: 0;
}

.portraits figure figcaption {
  text-align: right;
  font-size: .8em;
}

/* this hidden pixel is used to detect if user has scrolled 500px
   to show the 'return to top' button  */

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

#return-to-top {
  position: fixed;
  z-index: 999;
  top: 15px;
  right: 15px;
  display: none;
}

@media (min-width: 600px) {
  #return-to-top {
    /* top: calc(50vh - 50px); */
    font-size: 1em;
  }
}

#return-to-top.button-showing {
  display: block;
}
