@import 'global/vars.css';
@import 'global/typography.css';

@import 'theme/header.css';
@import 'theme/footer.css';

a:visited {
  color: var(--color-text);
}

a:hover {
  color: var(--color-main);
}

a {
  text-decoration: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  color: var(--color-text);
  font-family: var(--font-sans);
  background: var(--color-bg);
  /* min-height: -webkit-fill-available; */
}

.button {
  background: var(--color-main);
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-text);
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.button:hover, .button:active {
  color: var(--color-bg);
  cursor: pointer;
}

.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--color-text);
  height: 3px;
  transition: right 0.5s ease-out;
}

.button:hover:before, .button:active:before {
  right: 0;
}

.portraits figure {
  margin: 0;
}

.portraits figure figcaption {
  text-align: right;
  font-size: .8em;
}
