@import 'global/vars.css';
@import 'global/typography.css';

@import 'theme/header.css';
@import 'theme/footer.css';

@import 'templates/index.css';

a:visited {
  color: var(--color-text);
}

a:hover {
  color: var(--color-main);
}

a {
  text-decoration: none;
}
