body {
  background: url(/assets/img/bg/lift-off.svg) var(--yellow);
  background-repeat: no-repeat;
  background-size: 105vw;
}

#intro {
  margin-bottom: 7em;
  position: relative;
  height: 273.2px;
}

#text-container {
  position: absolute;
  z-index: 99;
  width: calc(100vw - 30px);
  max-width: 1200px;
}

#intro .text {
  font-size: 1.6em;
  max-width: 1200px;
  padding: .5em;
  text-transform: uppercase;
  color: var(--yellow);
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

@media (min-width: 800px) {
  #intro {
    height: 770px;
  }

  #intro .text-2 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  #intro .text {
    font-size: 3em;
    padding: 1em;
  }
}

#bars {
  position: absolute;
  z-index: -99;
}

#intro .bar {
  background: url(/assets/img/bg/1.png) var(--red);
  background-position: bottom;
  height: 57.6px;
  width: calc(100vw - 30px);
  max-width: 1200px;
}

@media (min-width: 800px) {
  #intro .bar {
    height: 154px;
  }
}



/* #description #launching {
  margin-right: 20vw;
}

#description #next {
  margin-left: 10vw;
}

#description #designers {
  margin-right: 30vw;
}

#description #and {
  display: inline;
  margin-left: 26vw;
}

#description #illustrators {
  margin-right: 10vw;
  margin-left: 10vw;
}

@media (min-width: 800px) {
  #description #next {
    margin-left: 24vw;
    display: inline;
  }

  #description #designers {
    margin-right: 20vw;
  }

  #description #and {
    margin-left: 15vw;
  }
}

@media (min-width: 1200px) {
  #description #next {
    margin-left: 15vw;
  }
} */

main a:hover article .portraits figure figcaption,
main a article .portraits figure figcaption {
  color: var(--grey);
}

main a article {
  background: url(/assets/img/bg/grid2.svg) no-repeat 50px 50px;
  background-size: calc(100% - 50px);
  padding-bottom: 3em;
  position: relative;
  margin-bottom: 100px;
}

@media (min-width: 800px) {
  main a article {
    background: url(/assets/img/bg/grid.svg) no-repeat 50px 200px;
    background-size: calc(100% - 50px);
    margin-bottom: 500px;
  }
}

@media (min-width: 1200px) {
  main a article {
    padding-bottom: 12em;
  }

  main a.three-line article {
    padding-bottom: 24em;
  }
}

wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  position: relative;
}

wrapper.texture {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 50px;
}

main a article wrapper.texture .texture-bg {
  background: url(/assets/img/bg/1.png);
  background-position: bottom;
  width: 100vw;
  margin: -100px 0 -270px 50px;
  z-index: 1;
}

main a.three-line article wrapper.texture .texture-bg {
  margin-bottom: -370px;
}

@media (min-width: 500px) {
  main a article wrapper.texture .texture-bg {
    margin: -310px 0 -400px 50px;
  }

  main a.three-line article wrapper.texture .texture-bg {
    margin-bottom: -500px;
  }
}

@media (min-width: 1200px) {
  main a article wrapper.texture .texture-bg {
    margin: -310px 0 -390px 200px;
  }

  main a.three-line article wrapper.texture .texture-bg {
    margin-bottom: -620px;
  }
}

.portraits {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

main a img {
  width: 100%;
}

main a.left img.big {
  grid-column: 1 / span 3;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media (min-width: 800px) {
  main a.left img.big {
    grid-column: 1 / span 2;
    height: 600px;
  }
}

@media (min-width: 1200px) {
  main a.left img.big {
    height: 700px;
  }
}

.img-top {
  object-position: top;
}

main a h2 {
  font-size: 80px;
  line-height: 90px;
  font-family: var(--font-display);
  font-weight: normal;
  place-self: baseline;
  display: inline;
  position: relative;
  z-index: 3;
}

@media (min-width: 350px) {
  main a h2 {
    font-size: 110px;
    line-height: 100px;
  }
}

@media (min-width: 500px) {
  main a h2 {
    font-size: 10em;
    line-height: 1em;
  }
}

@media (min-width: 1200px) {
  main a h2 {
    text-decoration: none;
    font-size: 14em;
    line-height: 1em;
    position: absolute;
    left: 100px;
    bottom: -350px;
  }
  main a.three-line h2 {
    bottom: -380px;
  }
}

@media (min-width: 1200px) {
  main a h2 {
    left: 230px;
  }
}

main a .button {
  position: absolute;
  z-index: 2;
  top: 15%;
  min-width: 108px;
  right: 15px;
}

@media (min-width: 800px) {
  main a .button {
    top: inherit;
    bottom: 80px;
    right: 30px;
  }
}

@media (min-width: 1200px) {
  main a .button {
    bottom: -240px;
  }
}

@media (min-width: 1200px) {
  main a .button {
    bottom: -100px;
  }
}

main a .portraits {
  position: relative;
  z-index: 2;
  margin-top: 30px;
}

main a #tom figure:first-child {
  grid-column-start: 3;
}

@media (min-width: 800px) {
  main a .portraits {
    max-width: 800px;
    position: absolute;
    position: absolute;
    top: 320px;
    right: 80px;
  }
  main a .portraits figure:first-child {
    grid-column-start: 2;
  }
}

/* helper classes */

main a.blue h2 {
  color: var(--color-acc2);
}

main a.blue article wrapper.texture .texture-bg {
  background-color:  #E5EAF3;
}

main a.red h2 {
  color: #FF7979;
}

main a.red article wrapper.texture .texture-bg {
  background-color:  #F9EEFF;
}

main a.green h2 {
  color: #3CD39E;
}

main a.green article wrapper.texture .texture-bg {
  background-color:  #C3E2CF;
}
