body {
  background: url(/assets/img/bg/lift-off.svg) var(--color-bg);
  background-repeat: no-repeat;
  background-size: 105vw;
}

#description {
  margin-bottom: 7em;
}

#description .bar {
  background: url(/assets/img/bg/1.png) var(--color-main);
  background-position: bottom;
  font-size: 1.6em;
  padding: 1em;
  text-transform: uppercase;
  color: var(--color-bg);
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

@media (min-width: 800px) {
  #description .bar-2 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  #description .bar {
    font-size: 3em;
  }
}

#description #launching {
  margin-right: 20vw;
}

#description #next {
  margin-left: 24vw;
  /* margin-right: 10vw; */
  display: inline;
}

#description #designers {
  margin-right: 30vw;
}

#description #and {
  display: inline;
  margin-left: 26vw;
}

#description #illustrators {
  margin-right: 10vw;
  margin-left: 10vw;
}

main a:hover article .portraits figure figcaption {
  color: var(--color-text);
}

main a article {
  background: url(/assets/img/bg/grid2.svg) no-repeat 50px 50px;
  background-size: calc(100% - 50px);
  padding-bottom: 3em;
  position: relative;
  margin-bottom: 100px;
}

@media (min-width: 800px) {
  main a article {
    background: url(/assets/img/bg/grid.svg) no-repeat 50px 200px;
    background-size: calc(100% - 50px);
    margin-bottom: 500px;
  }
}

@media (min-width: 1200px) {
  main a article {
    padding-bottom: 12em;
  }
}

wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  position: relative;
}

wrapper.texture {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 50px;
}

main a article wrapper.texture .texture-bg {
  background: url(/assets/img/bg/1.png);
  background-position: bottom;
  width: 100vw;
  margin: -100px 0 -270px 50px;
  z-index: 1;
}

@media (min-width: 500px) {
  main a article wrapper.texture .texture-bg {
    margin: -310px 0 -400px 50px;
  }
}

@media (min-width: 1200px) {
  main a article wrapper.texture .texture-bg {
    margin: -310px 0 -270px 200px;
  }
}

.portraits {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

main a img {
  width: 100%;
}

main a.left img.big {
  grid-column: 1 / span 3;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media (min-width: 800px) {
  main a.left img.big {
    grid-column: 1 / span 2;
    height: 600px;
  }
}

@media (min-width: 1200px) {
  main a.left img.big {
    height: 700px;
  }
}

.img-top {
  object-position: top;
}

main a h2 {
  font-size: 80px;
  line-height: 90px;
  font-family: var(--font-display);
  font-weight: normal;
  place-self: baseline;
  display: inline;
  position: relative;
  z-index: 3;
}

@media (min-width: 500px) {
  main a h2 {
    font-size: 8em;
    line-height: 1em;
  }
}

@media (min-width: 800px) {
  main a h2 {
    font-size: 10em;
    line-height: 1em;
  }
}

@media (min-width: 1200px) {
  main a h2 {
    text-decoration: none;
    font-size: 14em;
    line-height: 1em;
    position: absolute;
    left: 290px;
    bottom: -500px;
  }
}

main a .button {
  position: absolute;
  z-index: 2;
  top: 15%;
  min-width: 108px;
  right: 15px;
}

@media (min-width: 800px) {
  main a .button {
    top: inherit;
    bottom: 130px;
    right: 30px;
  }
}
@media (min-width: 1200px) {
  main a .button {
    bottom: -100px;
  }
}

main a .portraits {
  position: relative;
  z-index: 2;
  margin-top: 30px;
}

main a #tom figure:first-child {
  grid-column-start: 3;
}

@media (min-width: 800px) {
  main a .portraits {
    max-width: 800px;
    position: absolute;
    position: absolute;
    top: 320px;
    right: 80px;
  }
  main a .portraits figure:first-child {
    grid-column-start: 2;
  }
}

/* helper classes */

main a h2.blue {
  color: var(--color-acc2);
}

main a article wrapper.texture .blue {
  background-color:  #E5EAF3;
}

main a h2.red {
  color: #FF7979;
}

main a article wrapper.texture .red {
  background-color:  #F9EEFF;
}

main a h2.green {
  color: #3CD39E;
}

main a article wrapper.texture .green {
  background-color:  #C3E2CF;
}
