#lift-off-logo {
  position: absolute;
  z-index: -99;
  width: 105vw;
  left: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background: var(--color-bg);
  padding: 15px;
  color: var(--color-text);
  font-family: "AgipoMono", Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
  }
}

main a {
  padding-bottom: 3em;
  text-align: center;
}

main a h2 {
  color: var(--color-text);
}

main a:hover h2 {
  color: var(--color-main);
}

/* main a img, main a video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} */
