.info {
  margin: 0 0 -5em;
  position: relative;
  z-index: 99;
}

@media (min-width: 800px) {
  .info {
    margin: 0 0 -44em;
  }
}

.info .name {
  font-family: var(--font-display);
  color: var(--color-main);
  line-height: 1em;
  margin: 0;
  font-size: 5em;
}

@media (min-width: 800px) {
  .info .name {
    font-size: 15em;
  }
}

.portrait {
  width: 100%;
  grid-column: 2 / span 3;
}


@media (min-width: 800px) {
  .portrait {
    grid-column: 3 / span 2;
  }
}

.links {
  background: url(/assets/img/bg/1.png) #E5EAF3;
  list-style: none;
  max-width: 480px;
  padding: 0;
  display: inline-block;
}

.info .links {
  margin-top: 3em;
  z-index: -99;
  position: absolute;
  bottom: -345px;
}

@media (min-width: 800px) {
  .info .links {
    position: relative;
    bottom: -100px;
  }
}

.links li {
  padding: .5em;
  font-weight: 500;
  margin: 0;
}

.links li:not(:last-of-type) {
  padding-bottom: 0;
}

@media (min-width: 800px) {
  .links li {
    font-size: 2em;
  }
}

.links li a {
  color: var(--color-acc2);
  text-decoration: none;
  background-image: linear-gradient(var(--color-main), var(--color-main)),
    linear-gradient(var(--color-acc2), var(--color-acc2));
  background-size: 100% 2px, 0 2px;
  background-position: -100% -100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s linear;
}

.links li a:hover {
  color: var(--color-main);
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.links li p {
  color: var(--color-acc);
  font-family: var(--font-mono);
  font-size: 12px;
  margin: 3px 0 0;
}

@media (min-width: 800px) {
  .links li p {
    font-size: 15px;
  }
}

.keywords {
  position: absolute;
  color: var(--color-acc2);
  font-family: var(--font-mono);
  top: 10em;
  left: 80vw;
  z-index: -98;
  line-height: 1.6em;
  font-size: 10px;
}

@media (min-width: 800px) {
  .keywords {
    position: absolute;
    color: #92A8E4;
    font-family: var(--font-mono);
    top: 10em;
    left: 28em;
    z-index: -98;
    line-height: 1.6em;
    font-size: 18px;
  }
}

.bio {
  padding: 2em;
  background: white;
  position: relative;
  z-index: 99;
}

.bio p {
  margin: 0;
}

.quote p span {
  font-family: var(--font-mono);
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.quote p span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  top: 5px;
  left: -5px;
  background: rgba(255, 61, 32, 0.7);
  z-index: -1;
}

main p {
  font-size: 1.2em;
  line-height: 1.4em;
}

main p a {
  color: var(--color-text);
  text-decoration: none;
  background-image: linear-gradient(var(--color-main), var(--color-main)),
    linear-gradient(var(--color-acc2), var(--color-acc2));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s linear;
}

main p a:hover {
  background-size: 20px 2px, 0 2px, 100% 2px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

main section {
  max-width: 800px;
  margin: 3em auto;
}

main img {
  margin: 3em 0;
  width: 100%;
}

wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

wrapper.grid {
  background: url(/assets/img/bg/grid2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 800px) {
  wrapper.grid {
    background: url(/assets/img/bg/grid.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

wrapper.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  display: block;
  margin: 3em 0;
}

wrapper.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.question {
  font-style: oblique;
  margin-top: 3em;
}

.portraits {
  grid-gap: 1em;
}

@media (min-width: 800px) {
  .portraits {
    grid-gap: 2em;
  }
}

.portraits figure img {
  margin-bottom: 1em;
}

.three-up {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

@media (min-width: 800px) {
  .three-up {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .three-up figure:first-child {
    grid-column: 2 / auto;
  }
}


img.left, img.right, img.full, img.two-up {
  grid-column: 1 / span 4;
}

@media (min-width: 800px) {
  img.left {
    grid-column: 1 / span 3;
  }

  img.right {
    grid-column: 2 / span 3;
  }

  img.two-up {
    grid-column: auto / span 2;
  }
}

#big-quote {
  position: relative;
}

#big-quote h2 {
  font-family: var(--font-display);
  font-size: 3em;
  margin: 0;
  font-style: normal;
  font-weight: normal;
}

#big-quote h2 {
  color: var(--color-acc2);
}

@media (min-width: 600px) {
  #big-quote h2 {
    font-size: 5em;
  }
}

@media (min-width: 1200px) {
  #big-quote {
    max-width: none;
  }
  #big-quote h2 {
    font-size: 7em;
  }
}

.l-quote, .r-quote {
  position: absolute;
  font-family: var(--font-mono);
  color: white;
  z-index: -99;
  font-size: 8em;
}

.l-quote {
  top: -20px;
  left: -30px;
}

.r-quote {
  bottom: -90px;
  right: 0px;
}

@media (min-width: 800px) {
  .l-quote, .r-quote {
    font-size: 12em;
  }
  .l-quote {
    top: -50px;
    left: -60px;
  }
  .r-quote {
    bottom: -90px;
    right: 0px;
  }
}

#end {
  position: relative;
}

#end::after {
  background: url(/assets/img/bg/lift-off.svg) var(--color-bg);
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  width: 100%;
  height: 180%;
  top: 0px;
  left: -5px;
  position: absolute;
  display: inline-block;
  z-index: -99;
}

@media (min-width: 800px) {
  #end::after {
    height: 136%;
  }
}

#end h2 {
  font-family: var(--font-display);
  font-size: 3em;
  margin: 0;
  font-style: normal;
}

#end h2 {
  color: var(--color-main);
}

@media (min-width: 800px) {
  #end h2 {
    font-size: 4em;
  }
}

#end nav {
  margin-top: 3em;
}

.info h1, #end h2 {
  font-weight: normal;
}
